@model Gestreino.Models.SettingsDef
@using Gestreino.Classes
@{
    ViewBag.Title = "Definições";
}
<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-3   widget widget_tally_box">
            <div class="x_panel fixed_height_390">
                <div class="x_content">

                    <div class="flex">
                        <ul class="list-inline widget_profile_box">
                            <li>
                                <a>
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <img class="img-circle profile_img" src="/Assets/images/user-avatar.jpg" alt="Heraldo Sonhi" title="Heraldo Sonhi">
                            </li>
                            <li>
                                <a>
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <h3 class="name">@ViewBag.data[0].NOME (@ViewBag.data[0].SIGLA)</h3>

                    <div class="flex">
                        <ul class="list-inline count2">
                            <li>
                                <a title="Atualizar dados da aplicação" href="@Url.Action("updateinst","gtmanagement")" class="btn btn-sm btn-secondary"><i class="fa fa-pencil user-profile-icon"></i> Atualizar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-sm-12 ">
            <div class="row">

                <div class="col-md-12">
                    <div class="animated flipInY ">
                        <div class="tile-stats">
                            <div class="icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <h3 class="p-2">Aplicação</h3>
                            <ul class="list-unstyled user_data p-3">
                                <li>
                                    <i class="fa fa-info fa-fw user-profile-icon"></i> @ViewBag.data[0].NOME (@ViewBag.data[0].SIGLA)
                                </li>
                                <li>
                                    <i class="fa fa-dollar fa-fw user-profile-icon"></i> @ViewBag.data[0].NIF
                                </li>
                                <li>
                                    <i class="fa fa-phone fa-fw user-profile-icon"></i> @ViewBag.data[0].TELEFONE  @ViewBag.data[0].TELEFONE_ALTERNATIVO
                                </li>
                                <li class="m-top-xs">
                                    <i class="fa fa-envelope fa-fw user-profile-icon"></i>
                                    @ViewBag.data[0].EMAIL
                                </li>
                                <li class="m-top-xs">
                                    <i class="fa fa-globe fa-fw user-profile-icon"></i>
                                    @ViewBag.data[0].URL
                                </li>
                                <li>
                                    <i class="fa fa-location-arrow fa-fw user-profile-icon"></i>   @ViewBag.data[0].NUMERO  @ViewBag.data[0].RUA  @ViewBag.data[0].MORADA  @ViewBag.data[0].MUN_NOME @ViewBag.data[0].CIDADE_NOME @ViewBag.data[0].PAIS_NOME
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="animated flipInY ">
                        <div class="tile-stats">
                            <div class="icon">
                                <i class="fa fa-folder-open"></i>
                            </div>
                            <h3 class="p-2">Documentos</h3>
                            <!--  DATATABLE START -->
                            <div class=" mb-32pt p-3 mt-2">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="form-inline">
                                            <label class="" for="length_change">Mostrar</label>
                                            <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="GroupTable">
                                                <option value='10'>10</option>
                                                <option value='25'>25</option>
                                                <option value='50'>50</option>
                                                <option value='100'>100</option>
                                                <option value='500'>500</option>
                                                <option value='1000'>1000</option>
                                                <option value='2000'>2000</option>
                                                <option value='5000'>5000</option>
                                                <option value='10000'>10000</option>
                                            </select>
                                            <label class="" for="length_change">registos</label>
                                            <div class="btn-group">
                                                <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="GroupTable"><i class="fa fa-check-square"></i></button>
                                                <button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="groups" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                                                <button title="Pesquisar" class="btnSearch btn btn-default" data-id="GroupTable"><i class="fa fa-search"></i></button>
                                                <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="GroupTable"><i class="fa fa-eraser"></i></button>
                                                <a title="Adicionar grupo" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="0" data-action="Adicionar" data-entity="groups" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
                                                <!--Separator-->
                                                <a title="Exportar filtro (.xlsx)" class="btnSearch btn btn-default disabled" href="@Url.Action("ExportToExcel","XLSReports", new {section= "courses", applyFilter="true" })" target="_blank" data-id=""><i class="fa fa-filter"></i></a>
                                                <a title="Exportar todos (.xlsx)" class="btnSearch btn btn-default disabled" href="@Url.Action("ExportToExcel","XLSReports", new {section="courses", applyFilter="false" })" target="_blank" data-id=""><i class="fa fa-file-excel-o"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="GroupTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                                            <thead>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td><input type="text" id="GroupTableSigla" class="form-control form-control-sm" /></td>
                                                    <td><input type="text" id="GroupTableNome" class="form-control form-control-sm" /></td>
                                                    <td><input type="text" id="GroupTableInsercao" class="form-control form-control-sm" /></td>
                                                    <td><input type="text" id="GroupTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                                                    <td><input type="text" id="GroupTableActualizacao" class="form-control form-control-sm" /></td>
                                                    <td><input type="text" id="GroupTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th data-name="GroupTableSigla">Sigla</th>
                                                    <th data-name="GroupTableNome">Nome</th>
                                                    <th data-name="GroupTableInsercao">Inserção</th>
                                                    <th data-name="GroupTableDataInsercao">Data Inserção</th>
                                                    <th data-name="GroupTableActualizacao">Actualização</th>
                                                    <th data-name="GroupTableDataActualizacao">Data Actualização</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="card-footer p-8pt">
                                        <span class="paginateInfoGroup paginateInfo mr-12pt" style="float:right"></span>
                                        <div id="paginateGroup" class="pagination justify-content-start pagination-xsm m-0"></div>
                                    </div>
                                </div>

                            </div>
                            <!--  DATATABLE START -->
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="animated flipInY ">
                        <div class="tile-stats">
                            <div class="icon">
                                <i class="fa fa-cogs"></i>
                            </div>
                            <h3 class="p-2">Definições</h3>
                            <div class=" mb-32pt p-3 mt-2">
                                <div class="card">
                                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#tab_content1" id="" role="tab" data-toggle="tab" aria-expanded="true">Definições de personalização</a>
                                            </li>
                                            <li role="presentation" class="">
                                                <a href="#tab_content2" role="tab" id="" data-toggle="tab" aria-expanded="false">Definições de pagamentos</a>
                                            </li>
                                            <li role="presentation" class="">
                                                <a href="#tab_content3" role="tab" id="" data-toggle="tab" aria-expanded="false">Definições de segurança</a>
                                            </li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="tab_content1" aria-labelledby="">
                                                <div class="alert alert-primary-light mb-0"
                                                     role="alert">
                                                    <div class="d-flex flex-wrap align-items-start">
                                                        <div class="mr-8pt">
                                                            <i class="fa fa-cogs"></i>&nbsp;
                                                        </div>
                                                        <div class="flex"
                                                             style="min-width: 180px">
                                                            <span class="text-black-100">
                                                                <strong>Personalização!</strong> Cores de temas e tamanho de formato de Logotipo
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                @using (Ajax.BeginForm("UpdateInstPer", "gtmanagement", new AjaxOptions { HttpMethod = "POST", OnFailure = "handleFailure", OnSuccess = "handleSuccess", UpdateTargetId = "" }, new { @class = "p-4" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <div class="row">
                                                        @Html.LabelFor(m => m.INST_PER_TEMA_1, new { @class = "col-md-2 col-form-label" })
                                                        <div class="col-md-6">
                                                            @Html.TextBoxFor(m => m.INST_PER_TEMA_1, new { @class = "form-control form-control-sm", @type = "color", required = "" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        @Html.LabelFor(m => m.INST_PER_TEMA_1_SIDEBAR, new { @class = "col-md-2 col-form-label" })
                                                        <div class="col-md-6">
                                                            @Html.TextBoxFor(m => m.INST_PER_TEMA_1_SIDEBAR, new { @class = "form-control form-control-sm", @type = "color", required = "" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        @Html.LabelFor(m => m.INST_PER_TEMA_2, new { @class = "col-md-2 col-form-label" })
                                                        <div class="col-md-6">
                                                            @Html.TextBoxFor(m => m.INST_PER_TEMA_2, new { @class = "form-control form-control-sm", @type = "color", required = "" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        @Html.LabelFor(m => m.INST_PER_LOGOTIPO_WIDTH, new { @class = "col-md-2 col-form-label" })
                                                        <div class="col-md-6">
                                                            @Html.TextBoxFor(m => m.INST_PER_LOGOTIPO_WIDTH, new { @class = "form-control form-control-sm", @type = "number" })
                                                        </div>
                                                    </div>
                                                    <div class="row mt-1">
                                                        <div class="col-sm-2 text-right">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <button type="submit" class="btn btn-primary btn-sm" id="BtnSubmit">Submeter</button>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="">
                                                <div class="alert alert-primary-light mb-0"
                                                     role="alert">
                                                    <div class="d-flex flex-wrap align-items-start">
                                                        <div class="mr-8pt">
                                                            <i class="fa fa-cogs"></i>&nbsp;
                                                        </div>
                                                        <div class="flex"
                                                             style="min-width: 180px">
                                                            <span class="text-black-100">
                                                                <strong>Pagamentos!</strong> Moeda padrão e número de dígitos
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                @using (Ajax.BeginForm("UpdateInstPag", "gtmanagement", new AjaxOptions { HttpMethod = "POST", OnFailure = "handleFailure", OnSuccess = "handleSuccess", UpdateTargetId = "" }, new { @class = "p-4" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <div class="row">
                                                        @Html.LabelFor(m => m.INST_MDL_GPAG_MOEDA_PADRAO, new { @class = "col-md-2 col-form-label" })
                                                        <div class="col-md-6">
                                                            @Html.DropDownListFor(x => Model.INST_MDL_GPAG_MOEDA_PADRAO, Model.MOEDA_LIST, "Sem filtro", new { @class = "form-control form-control-sm", required = "" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        @Html.LabelFor(m => m.INST_MDL_GPAG_N_DIGITOS_VALORES_PAGAMENTOS, new { @class = "col-md-2 col-form-label" })
                                                        <div class="col-md-6">
                                                            @Html.TextBoxFor(m => m.INST_MDL_GPAG_N_DIGITOS_VALORES_PAGAMENTOS, new { @class = "form-control form-control-sm", @type = "number", required = "" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        @Html.LabelFor(m => m.INST_MDL_GPAG_NOTA_DECIMAL, new { @class = "col-md-2 col-form-label" })
                                                        <div class="col-md-6">
                                                            @Html.DropDownListFor(m => Model.INST_MDL_GPAG_NOTA_DECIMAL, Enum.GetValues(typeof(SelectValues.NotaDecimal)).Cast<int>().Select(e => new SelectListItem() { Text = Enum.GetName(typeof(SelectValues.NotaDecimal), e), Value = e.ToString() }), new { @class = "form-control form-control-sm custom-select" })
                                                        </div>
                                                    </div>
                                                    <div class="row mt-1">
                                                        <div class="col-sm-2 text-right">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <button type="submit" class="btn btn-primary btn-sm" id="BtnSubmit">Submeter</button>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="">
                                                <div class="alert alert-primary-light mb-0"
                                                     role="alert">
                                                    <div class="d-flex flex-wrap align-items-start">
                                                        <div class="mr-8pt">
                                                            <i class="fa fa-cogs"></i>&nbsp;
                                                        </div>
                                                        <div class="flex"
                                                             style="min-width: 180px">
                                                            <span class="text-black-100">
                                                                <strong>Segurança!</strong> Definições de sessão e tokens
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                @using (Ajax.BeginForm("UpdateInstSec", "gtmanagement", new AjaxOptions { HttpMethod = "POST", OnFailure = "handleFailure", OnSuccess = "handleSuccess", UpdateTargetId = "" }, new { @class = "p-4" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <div class="row">
                                                        @Html.LabelFor(m => m.SEC_SENHA_TENT_BLOQUEIO, new { @class = "col-md-2 col-form-label" })
                                                        <div class="col-md-6">
                                                            @Html.TextBoxFor(m => m.SEC_SENHA_TENT_BLOQUEIO, new { @class = "form-control form-control-sm", @type = "number", required = "" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        @Html.LabelFor(m => m.SEC_SENHA_TENT_BLOQUEIO_TEMPO, new { @class = "col-md-2 col-form-label" })
                                                        <div class="col-md-6">
                                                            @Html.TextBoxFor(m => m.SEC_SENHA_TENT_BLOQUEIO_TEMPO, new { @class = "form-control form-control-sm", @type = "number", required = "" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        @Html.LabelFor(m => m.SEC_SENHA_RECU_LIMITE_EMAIL, new { @class = "col-md-2 col-form-label" })
                                                        <div class="col-md-6">
                                                            @Html.TextBoxFor(m => m.SEC_SENHA_RECU_LIMITE_EMAIL, new { @class = "form-control form-control-sm", @type = "number", required = "" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        @Html.LabelFor(m => m.SEC_SESSAO_TIMEOUT_TEMPO, new { @class = "col-md-2 col-form-label" })
                                                        <div class="col-md-6">
                                                            @Html.TextBoxFor(m => m.SEC_SESSAO_TIMEOUT_TEMPO, new { @class = "form-control form-control-sm", @type = "number", required = "" })
                                                        </div>
                                                    </div>
                                                    <div class="row mt-1">
                                                        <div class="col-sm-2 text-right">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <button type="submit" class="btn btn-primary btn-sm" id="BtnSubmit">Submeter</button>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>&nbsp;</h2>
</div>
<!-- /page content -->