@model UTILIZADORES_ACESSO_PERFIS
@{
    Layout = null;
}
<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel" style="border:none">
                <div class="x_title">
                    <h2>@ViewBag.Action perfil</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link" data-dismiss="modal"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="handle-error alert alert-accent"
                     role="alert" style="display:none;">
                    <div class="d-flex flex-wrap align-items-start">
                        <div class="mr-8pt">
                            <i class="fa fa-warning"></i>
                        </div>
                        <div class="flex"
                             style="min-width: 180px">
                            <small class="text-black-100">
                                <strong>Atenção!</strong> <span class="handle-error-message"></span>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="x_content">
                    <br />
                    @if (ViewBag.Action == "Adicionar")
                    {
                        using (Ajax.BeginForm("newprofile", "gtmanagement", new AjaxOptions { HttpMethod = "POST", OnFailure = "handleFailure", OnSuccess = "handleSuccess", UpdateTargetId = "" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <label class="col-md-2 col-form-label">Nome</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.NOME, new { @class = "form-control form-control-sm", required = "" })
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 col-form-label">Descrição</label>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(m => m.DESCRICAO, new { @class = "form-control form-control-sm", required = "" })
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-sm-2 text-right">
                                </div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-sm" id="BtnSubmit">Submeter</button>
                                </div>
                            </div>
                        }
                    }
                    @if (ViewBag.Action == "Editar")
                    {
                        using (Ajax.BeginForm("updateprofile", "gtmanagement", new AjaxOptions { HttpMethod = "POST", OnFailure = "handleFailure", OnSuccess = "handleSuccess", UpdateTargetId = "" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.ID)
                            <div class="row">
                                <label class="col-md-2 col-form-label">Nome</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.NOME, new { @class = "form-control form-control-sm", required = "" })
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 col-form-label">Descrição</label>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(m => m.DESCRICAO, new { @class = "form-control form-control-sm", required = "" })
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-sm-2 text-right">
                                </div>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary btn-sm" id="BtnSubmit">Submeter</button>
                                </div>
                            </div>
                        }
                    }
                    @if (ViewBag.Action == "Remover")
                    {
                        using (Ajax.BeginForm("deleteprofile", "gtmanagement", new AjaxOptions { HttpMethod = "POST", OnFailure = "handleFailure", OnSuccess = "handleSuccess", UpdateTargetId = "" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.ID)

                            foreach (var i in ViewBag.bulkids)
                            {
                                <input type="hidden" value="@i" name="ids[]" />
                            }
                            <p>Deseja remover este(s) item(s)? Esta operação não é reversível</p>

                            <div class="row mt-1">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-danger btn-sm" id="BtnSubmit">Submeter</button>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->