@using Gestreino.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sessão";
}
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <br />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <h1>Gestreino</h1>

                    <div class="row">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input type="submit" class="btn btn-secondary submit" value="Iniciar sessão">
                        </div>
                    </div>
                    @*
            <div class="row">
                <div class="offset-md-2 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>*@
                    @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>
                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">
                            <a class="reset_pass" href="#">Recuperar senha de acesso</a>
                            <a href="@Url.Action("register","account")" class="to_register"> Novo registo </a>
                        </p>
                    </div>*@
                }
            </section>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}