@using Gestreino.Classes;
@{ List<int> Settings = new List<int> { 101, 102, 103, 104, 105 };}
@if (Request.IsAuthenticated)
{
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">

            <ul class="nav side-menu">
                <li class="@(ViewBag.LeftBarLinkActive==201?"active":"")">
                    <a style="border-left:3px dotted #00ff21"><i class="fa fa-tags"></i> Atletas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display:@(ViewBag.LeftBarLinkActive==201?"block":"")">
                        <li class="@(ViewBag.LeftBarLinkActive==201?"current-page":"")"><a href="@Url.Action("athletes","gtmanagement")">Dados biográficos</a></li>
                        <li>
                            <a href="javascript:" title="Selecionar Avaliado" class="open-modal-crud"  data-id="0" data-action="Adicionar" data-entity="gtavaliado" data-toggle="modal" data-target="#crudControlModal">Selecionar avaliado</a>
                        </li>
                    </ul>
                </li>
                <li class="@(ViewBag.LeftBarLinkActive==202 || ViewBag.LeftBarLinkActive==203 ?"active":"")">
                    <a style="border-left: 3px dotted #00ff21"><i class="fa fa-book"></i> Prescrição <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display:@(ViewBag.LeftBarLinkActive==202 ||ViewBag.LeftBarLinkActive==203 ||ViewBag.LeftBarLinkActive==204 ?"block":"")">
                        <li class="@(ViewBag.LeftBarLinkActive==202?"current-page":"")"><a href="@Url.Action("bodymassplans", "gtmanagement", new {Id=string.Empty})">Plano de Musculação</a></li>
                        <li class="@(ViewBag.LeftBarLinkActive==203?"current-page":"")"><a href="@Url.Action("cardioplans","gtmanagement", new {Id=string.Empty})">Plano de Cardiovascular</a></li>
                        <li class="@(ViewBag.LeftBarLinkActive==204?"current-page":"")"><a href="@Url.Action("exercises","gtmanagement")">Exercícios</a></li>
                    </ul>
                </li>
                <li>
                    <a style="border-left: 3px dotted #ff6a00"><i class="fa fa-anchor"></i> Avaliação <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>
                            <a>Estado Psicológico<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu">
                                    <a href="@Url.Action("anxient", "gtmanagement", new {Id=string.Empty})">Ansiedade e Depressão</a>
                                </li>
                                <li>
                                    <a href="#">Auto Conceito</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Risco Coronário</a>
                        </li>
                        <li>
                            <a href="#">Problemas de Saúde</a>
                        </li>
                        <li>
                            <a href="#">Flexibilidade</a>
                        </li>
                        <li>
                            <a href="#">Composição Corporal</a>
                        </li>
                        <li>
                            <a href="#">Aptidão Cardiorespiratória</a>
                        </li>
                        <li>
                            <a href="#">Pessoa Idosa</a>
                        </li>
                        <li>
                            <a href="#">Força</a>
                        </li>
                        <li>
                            <a href="#">Funcional</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-history"></i> Consultas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">Prescrições</a></li>
                        <li><a href="#">Prescrições / Data</a></li>
                        <li><a href="#">Avaliações</a></li>
                        <li><a href="#l">Avaliações / Data</a></li>
                        <li><a href="#">Avaliações / Percentil</a></li>
                        <li><a href="#">Peso Médio</a></li>
                        <li><a href="#">Análise Descritiva</a></li>
                        <li><a href="#">Ranking Avaliações</a></li>
                        <li><a href="#">Outras Avaliações</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-bar-chart-o"></i> Relatórios <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">Relatórios</a></li>
                    </ul>
                </li>
                <li  class="@(Settings.Contains(ViewBag.LeftBarLinkActive)  ?"active":"")">
                    <a style="border-left:3px dotted #00ff21"><i class="fa fa-cog"></i> Configurações <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu"  
                       style="display:@(Settings.Contains(ViewBag.LeftBarLinkActive)  ?"block":"")">
                        <li class="@(ViewBag.LeftBarLinkActive==101 || ViewBag.LeftBarLinkActive==102 || ViewBag.LeftBarLinkActive==103?"active":"")">
                            <a>Controlo de Acesso<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" style="display:@(ViewBag.LeftBarLinkActive==101 || ViewBag.LeftBarLinkActive==102 || ViewBag.LeftBarLinkActive==103?"block":"")">
                                <li class="@(ViewBag.LeftBarLinkActive==101?"current-page":"")"><a href="@Url.Action("users","administration")">Utilizadores</a></li>
                                <li class="@(ViewBag.LeftBarLinkActive==102?"current-page":"")"><a href="@Url.Action("access","administration")">Grupos, perfis e átomos</a></li>
                                <li class="@(ViewBag.LeftBarLinkActive==103?"current-page":"")"><a href="@Url.Action("loginlogs","administration")">Rastreamento de sessão</a></li>
                            </ul>
                        </li>
                        <li class="@(ViewBag.LeftBarLinkActive==104?"current-page":"")"><a href="@Url.Action("parameters","administration")">Parametrização</a></li>
                        <li class="@(ViewBag.LeftBarLinkActive==105?"current-page":"")"><a href="@Url.Action("settings","administration")">Definições</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
}