@if (Request.IsAuthenticated)
{
    <!-- sidebar menu -->
    <div  id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
           
            <ul class="nav side-menu">
                <li>
                    <a><i class="fa fa-home"></i> Atletas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="@Url.Action("athletes","gtmanagement")">Dados biográficos</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-edit"></i> Prescrição <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">Plano de Musculação</a></li>
                        <li><a href="#">Plano de Cardiovascular</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-sitemap"></i> Avaliação <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>
                            <a>Estado Psicológico<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu">
                                    <a href="#">Ansiedade e Depressão</a>
                                </li>
                                <li>
                                    <a href="#">Auto Conceito</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Risco Coronário</a>
                        </li>
                        <li>
                            <a href="#">Problemas de Saúde</a>
                        </li>
                        <li>
                            <a href="#">Flexibilidade</a>
                        </li>
                        <li>
                            <a href="#">Composição Corporal</a>
                        </li>
                        <li>
                            <a href="#">Aptidão Cardiorespiratória</a>
                        </li>
                        <li>
                            <a href="#">Pessoa Idosa</a>
                        </li>
                        <li>
                            <a href="#">Força</a>
                        </li>
                        <li>
                            <a href="#">Funcional</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-desktop"></i> Consultas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">Prescrições</a></li>
                        <li><a href="#">Prescrições / Data</a></li>
                        <li><a href="#">Avaliações</a></li>
                        <li><a href="#l">Avaliações / Data</a></li>
                        <li><a href="#">Avaliações / Percentil</a></li>
                        <li><a href="#">Peso Médio</a></li>
                        <li><a href="#">Análise Descritiva</a></li>
                        <li><a href="#">Ranking Avaliações</a></li>
                        <li><a href="#">Outras Avaliações</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-bar-chart-o"></i> Relatórios <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">Relatórios</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-cog"></i> Configurações <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>
                            <a>Controlo de Acesso<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="@Url.Action("users","gtmanagement")">Utilizadores</a></li>
                                <li><a href="@Url.Action("access","gtmanagement")">Grupos, perfis e átomos</a></li>
                                <li><a href="@Url.Action("loginlogs","gtmanagement")">Rastreamento de sessão</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("parameters","gtmanagement")">Parametrização</a></li>
                        <li><a href="@Url.Action("settings","gtmanagement")">Definições</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
}