@model Gestreino.Models.Users
@{
    Layout = null;
}
<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Adicionar utilizador <small>different form elements</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="handle-error alert alert-accent"
                     role="alert" style="display:none;">
                    <div class="d-flex flex-wrap align-items-start">
                        <div class="mr-8pt">
                            <i class="fa fa-warning"></i>
                        </div>
                        <div class="flex"
                             style="min-width: 180px">
                            <small class="text-black-100">
                                <strong>Atenção!</strong> <span class="handle-error-message"></span>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="x_content">
                    <br />
                    @using (Ajax.BeginForm("newuser", "gtmanagement", new AjaxOptions { HttpMethod = "POST", OnFailure = "handleFailure", OnSuccess = "handleSuccess", UpdateTargetId = "" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            @Html.LabelFor(m => m.Login, new { @class = "col-md-2 col-form-label" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.Login, new { @class = "form-control", required = "" })
                                @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 col-form-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", required = "" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 col-form-label" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", type = "number", required = "" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "" })
                            </div>
                        </div>
                        <div class="row">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = "" })
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-sm-3 text-right">
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-primary btn-sm" id="BtnSubmit">Submeter</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->